@(
message: String,
Todolists: List[models.Todolist]
)
<!-- index "appelle" main en lui passant en paramètre le titre de la page et le contenu HTML -->
@main("todolist",null) {
	    
      <!--  Formulaire des Tweets-->
	<fieldset>
		<h2> todolist </h2>
		<form method="post" action="/Todolists/add">
			<input type="text" name="label" placeholder="écrire un nouveau Tweet">
			<button type="submit" class="btn">publier</button>
		</form>
	</fieldset>
	<!-- Liste des Tweets -->
	 <ul>
            @for((todolist,i) <- Todolists.zipWithIndex){
                	<li>@todolist.id  @todolist.label </li>
            }
     <!-- message d'erreur si l'utilisateur ne respecte pas les contraintes faite sur le modele   -->
    </ul> 